Repository hankthebldr/cortex-dc-web, changes with the owners that CODEOWNERS names for each.
All owners: @your-org/cortex-dc-maintainers, @your-org/cortex-dc-docs, @your-org/cortex-dc-security, @your-org/cortex-dc-platform, @your-org/cortex-dc-devops, @your-org/cortex-dc-backend, @your-org/cortex-dc-frontend, @your-org/cortex-dc-ai, @your-org/cortex-dc-content, @your-org/cortex-dc-integrations, @your-org/cortex-dc-terminal, @your-org/cortex-dc-qa

branching strategy
  .github/workflows/build-matrix.yml
  DEPLOYMENT.md
  Dockerfile.web
  QUICK_REFERENCE.md
  README.md
  README_VALIDATION.md
  apps/web/next.config.js
  apps/web/package.json
  docker-compose.local.yml
  k8s/web/README.md
  k8s/web/configmap.yaml
  k8s/web/deployment.yaml
  k8s/web/hpa.yaml
  k8s/web/ingress.yaml
  k8s/web/kustomization.yaml
  k8s/web/namespace.yaml
  k8s/web/secrets.yaml.template
  k8s/web/service.yaml
  k8s/web/serviceaccount.yaml
  package.json
  scripts/env/resolve-env.ts
Owners: @your-org/cortex-dc-platform, @your-org/cortex-dc-devops, @your-org/cortex-dc-docs, @your-org/cortex-dc-frontend, @your-org/cortex-dc-maintainers

docs: create comprehensive verbose enterprise-grade README
  README.md
Owners: @your-org/cortex-dc-docs

docs: add comprehensive microservices refactoring strategy
  docs/IMPLEMENTATION_ROADMAP.md
  docs/MICROSERVICES_REFACTORING_STRATEGY.md
  docs/TRR_SERVICE_SPECIFICATION.md
Owners: @your-org/cortex-dc-docs

Workking
  .gitignore
  DEPLOYMENT_GUIDE.md
  KUBERNETES_GUIDE.md
  LOCAL_TEST_REPORT.md
  REPOSITORY_SYNC_TRACKING.md
  SNAPSHOT_OCT15_2025.txt
  SYNC_QUICK_REFERENCE.md
  apps/web/app/(dashboard)/pov/[id]/enhanced-page-example.tsx.example.txt
  apps/web/app/api/ai/suggestions/route.example.txt
  apps/web/app/api/povs/[id]/route-example.ts.example.txt
  apps/web/app/dashboard/page.tsx
  docs/CONSOLIDATION_DIAGRAM.md
  firebase.json
  package.json
  scripts/quick-smoke-test.sh
  scripts/smoke-test.sh
  tests/smoke/routes.spec.ts
Owners: @your-org/cortex-dc-maintainers, @your-org/cortex-dc-docs, @your-org/cortex-dc-frontend, @your-org/cortex-dc-backend, @your-org/cortex-dc-platform, @your-org/cortex-dc-qa

feat: add Obsidian plugin for seamless vault integration
  .claude/markdown-guid-preference.md
  apps/web/app/api/notes/middleware.ts
  apps/web/app/api/notes/status/[guid]/route.ts
  apps/web/app/api/notes/upload/batch/route.ts
  apps/web/app/api/notes/upload/route.ts
  obsidian-cortex-plugin/.gitignore
  obsidian-cortex-plugin/DEVELOPMENT.md
  obsidian-cortex-plugin/README.md
  obsidian-cortex-plugin/esbuild.config.mjs
  obsidian-cortex-plugin/manifest.json
  obsidian-cortex-plugin/package.json
  obsidian-cortex-plugin/src/api-client.ts
  obsidian-cortex-plugin/src/main.ts
  obsidian-cortex-plugin/src/modals.ts
  obsidian-cortex-plugin/src/settings.ts
  obsidian-cortex-plugin/src/types.ts
  obsidian-cortex-plugin/src/uploader.ts
  obsidian-cortex-plugin/tsconfig.json
  obsidian-cortex-plugin/version-bump.mjs
  obsidian-cortex-plugin/versions.json
  packages/db/src/types/notes.ts
Owners: @your-org/cortex-dc-maintainers, @your-org/cortex-dc-backend, @your-org/cortex-dc-frontend

docs: add quick start guide for plugin testing
  obsidian-cortex-plugin/QUICK_START.md
Owners: @your-org/cortex-dc-maintainers

feat: implement enterprise-grade TRR management and UI component library
  apps/web/tailwind.config.js
  firestore.rules
  packages/api-server/src/routes/trr.routes.ts
  packages/db/src/schemas/trr.ts
  packages/ui/src/components/primitives/DataTable.tsx
  packages/ui/src/components/primitives/Form.tsx
  packages/ui/src/components/primitives/Modal.tsx
  packages/ui/src/components/primitives/Toast.tsx
  packages/ui/src/components/primitives/index.tsx
  packages/ui/src/icons/ICON_REFERENCE.md
Owners: @your-org/cortex-dc-frontend, @your-org/cortex-dc-backend, @your-org/cortex-dc-security, @your-org/cortex-dc-maintainers

docs: create comprehensive developer guides and fix TypeScript build
  apps/web/tsconfig.json
  docs/CI_CD_BEST_PRACTICES.md
  docs/RECORD_MANAGEMENT_LIFECYCLE.md
  docs/USER_STORY_GUIDE.md
Owners: @your-org/cortex-dc-frontend, @your-org/cortex-dc-docs

feat: implement TRR edit and delete functionality with enterprise-grade UI
  apps/web/app/trr/[id]/page.tsx
  apps/web/lib/hooks/use-api.ts
  docs/WORKFLOW_IMPROVEMENT_ROADMAP.md
  packages/db/src/services/federated-data-service.ts
  packages/ui/src/index.ts
  tsconfig.json
Owners: @your-org/cortex-dc-frontend, @your-org/cortex-dc-docs, @your-org/cortex-dc-backend, @your-org/cortex-dc-maintainers

fix: resolve TRR schema mismatches and expand status enum
  apps/web/app/trr/[id]/page.tsx
  apps/web/app/trr/page.tsx
  apps/web/components/dashboard/AdminDashboard.tsx
  apps/web/components/dashboard/TeamDashboard.tsx
  packages/api-server/src/routes/trr.routes.ts
  packages/ui/src/components/trr/TRRStatus.tsx
  packages/ui/src/index.ts
Owners: @your-org/cortex-dc-frontend, @your-org/cortex-dc-maintainers

chore: update build artifacts and improve gitignore
  .gitignore
  packages/ai/dist/index.js
  packages/ai/dist/index.mjs
  packages/db/dist/index.js
  packages/db/dist/index.mjs
  packages/ui/dist/index.js
  packages/ui/dist/index.js.map
  packages/ui/dist/index.mjs
  packages/ui/dist/index.mjs.map
  packages/utils/dist/index.js
  packages/utils/dist/index.mjs
Owners: @your-org/cortex-dc-maintainers, @your-org/cortex-dc-ai, @your-org/cortex-dc-backend, @your-org/cortex-dc-frontend

feat: implement modernized design system foundation
  apps/web/app/globals.css
  apps/web/components/design-system/Badge.tsx
  apps/web/components/design-system/Button.tsx
  apps/web/components/design-system/Card.tsx
  apps/web/components/design-system/Input.tsx
  apps/web/components/design-system/Select.tsx
  apps/web/components/design-system/Textarea.tsx
  apps/web/components/design-system/index.ts
  apps/web/components/widgets/ActivityFeed.tsx
  apps/web/components/widgets/MetricCard.tsx
  apps/web/lib/design-system/types.ts
  apps/web/lib/design-system/utils.ts
  apps/web/lib/toast.tsx
  apps/web/package.json
  apps/web/styles/animations.css
  apps/web/styles/design-tokens.css
  pnpm-lock.yaml
Owners: @your-org/cortex-dc-frontend, @your-org/cortex-dc-platform

feat: add advanced design system components (Phase 2)
  apps/web/components/design-system/CommandPalette.tsx
  apps/web/components/design-system/DataTable.tsx
  apps/web/components/design-system/Dialog.tsx
  apps/web/components/design-system/DropdownMenu.tsx
  apps/web/components/design-system/Progress.tsx
  apps/web/components/design-system/Skeleton.tsx
  apps/web/components/design-system/Stepper.tsx
  apps/web/components/design-system/Tooltip.tsx
  apps/web/components/design-system/index.ts
  apps/web/components/widgets/DashboardGrid.tsx
  apps/web/components/widgets/index.ts
Owners: @your-org/cortex-dc-frontend

feat: add chart components and example dashboard (Phase 3)
  apps/web/app/examples/dashboard/page.tsx
  apps/web/components/charts/AreaChart.tsx
  apps/web/components/charts/BarChart.tsx
  apps/web/components/charts/LineChart.tsx
  apps/web/components/charts/PieChart.tsx
  apps/web/components/charts/index.ts
  apps/web/lib/design-system/types.ts
Owners: @your-org/cortex-dc-frontend

fix: resolve build errors and optimize for production
  apps/web/app/(dashboard)/pov/[id]/enhanced-page-example.tsx
  apps/web/app/api/ai/suggestions/route-example.ts
  apps/web/app/api/povs/[id]/route-example.ts
  apps/web/app/examples/dashboard/page.tsx
  apps/web/app/layout.tsx
  apps/web/lib/design-system/types.ts
  apps/web/styles/animations.css
  apps/web/styles/design-tokens.css
Owners: @your-org/cortex-dc-frontend, @your-org/cortex-dc-backend

fix: add missing dependency and fix component props
  apps/web/app/examples/dashboard/page.tsx
  apps/web/package.json
  pnpm-lock.yaml
Owners: @your-org/cortex-dc-frontend, @your-org/cortex-dc-platform

Update README.md
  README.md
Owners: @your-org/cortex-dc-docs

fix: resolve type conflicts and missing dependencies
  apps/web/components/design-system/Badge.tsx
  apps/web/components/widgets/ActivityFeed.tsx
  apps/web/package.json
  pnpm-lock.yaml
Owners: @your-org/cortex-dc-frontend, @your-org/cortex-dc-platform

fix: remove invalid padding prop from MetricCard
  apps/web/components/widgets/MetricCard.tsx
Owners: @your-org/cortex-dc-frontend

fix: resolve Map iterator TypeScript errors in db package
  packages/db/src/services/federated-data-service.ts
Owners: @your-org/cortex-dc-backend

fix: add dynamic rendering to all API routes
  apps/web/app/api/scenarios/[id]/terraform/route.ts
Owners: @your-org/cortex-dc-backend, @your-org/cortex-dc-frontend

chore: add ESLint configuration
  apps/web/.eslintrc.json
Owners: @your-org/cortex-dc-frontend

fix: resolve CI lint failures by adding ESLint configs and updating lint scripts
  packages/ai/.eslintrc.json
  packages/ai/package.json
  packages/backend/.eslintrc.json
  packages/backend/package.json
  packages/commands/.eslintrc.json
  packages/commands/package.json
  packages/content/.eslintrc.json
  packages/content/package.json
  packages/db/.eslintrc.json
  packages/db/package.json
  packages/integrations/.eslintrc.json
  packages/integrations/package.json
  packages/terminal/.eslintrc.json
  packages/terminal/package.json
  packages/ui/package.json
  packages/utils/.eslintrc.json
  packages/utils/package.json
  pnpm-lock.yaml
Owners: @your-org/cortex-dc-ai, @your-org/cortex-dc-backend, @your-org/cortex-dc-platform, @your-org/cortex-dc-maintainers, @your-org/cortex-dc-content, @your-org/cortex-dc-integrations, @your-org/cortex-dc-terminal, @your-org/cortex-dc-frontend

Fix data integrity issue in TRR save - use PATCH instead of PUT
  apps/web/app/trr/[id]/page.tsx
  apps/web/lib/hooks/use-api.ts
Owners: @your-org/cortex-dc-frontend

Fix Tailwind CSS configuration for shadcn/ui components
  apps/web/package.json
  apps/web/tailwind.config.js
  pnpm-lock.yaml
Owners: @your-org/cortex-dc-frontend, @your-org/cortex-dc-platform

Fix ESLint errors in commands package
  packages/commands/src/services/cloud-command-executor.ts
  packages/commands/src/unified-command-service.ts
Owners: @your-org/cortex-dc-backend

Add missing tsconfig.json files for ai, db, and utils packages
  packages/ai/tsconfig.json
  packages/db/tsconfig.json
  packages/utils/tsconfig.json
Owners: @your-org/cortex-dc-ai, @your-org/cortex-dc-backend, @your-org/cortex-dc-maintainers

Fix functions lint errors - auto-fix quotes and relax strict rules
  functions/.eslintrc.js
  functions/src/adapters/logger.adapter.ts
  functions/src/handlers/echo.handler.ts
  functions/src/handlers/environment.handler.ts
  functions/src/handlers/health.handler.ts
  functions/src/index.ts
  functions/src/server.firebase-legacy.ts
  functions/src/server.ts
Owners: @your-org/cortex-dc-backend, @your-org/cortex-dc-platform

Add @types/express to functions devDependencies
  functions/package.json
  pnpm-lock.yaml
Owners: @your-org/cortex-dc-backend, @your-org/cortex-dc-platform

Add ESLint configuration for ui package
  packages/ui/.eslintrc.json
Owners: @your-org/cortex-dc-frontend

CODEOWNERS:

# CODEOWNERS - Code review assignments
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners will be requested for review when a PR touches their files.
#
# Ref: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# ==============================================
# DEFAULT OWNERSHIP
# ==============================================
# Default owners for everything in the repo
* @your-org/cortex-dc-maintainers

# ==============================================
# DOCUMENTATION
# ==============================================
/docs/ @your-org/cortex-dc-docs
/*.md @your-org/cortex-dc-docs
/CONTRIBUTING.md @your-org/cortex-dc-maintainers
/SECURITY.md @your-org/cortex-dc-security
/CODE_OF_CONDUCT.md @your-org/cortex-dc-maintainers

# ==============================================
# INFRASTRUCTURE & DEPLOYMENT
# ==============================================
/kubernetes/ @your-org/cortex-dc-platform @your-org/cortex-dc-devops
/terraform/ @your-org/cortex-dc-platform @your-org/cortex-dc-devops
/docker-compose*.yml @your-org/cortex-dc-platform
/Dockerfile* @your-org/cortex-dc-platform
/.github/workflows/ @your-org/cortex-dc-platform @your-org/cortex-dc-devops
/scripts/ @your-org/cortex-dc-platform

# ==============================================
# CONFIGURATION
# ==============================================
/firebase.json @your-org/cortex-dc-backend
/firestore.rules @your-org/cortex-dc-backend @your-org/cortex-dc-security
/storage.rules @your-org/cortex-dc-backend @your-org/cortex-dc-security
/tsconfig*.json @your-org/cortex-dc-maintainers
/pnpm-workspace.yaml @your-org/cortex-dc-maintainers
/turbo.json @your-org/cortex-dc-maintainers
/.eslint* @your-org/cortex-dc-maintainers
/.prettier* @your-org/cortex-dc-maintainers

# ==============================================
# SECURITY & COMPLIANCE
# ==============================================
/SECURITY.md @your-org/cortex-dc-security
/zap-config.yaml @your-org/cortex-dc-security
/.github/workflows/*security* @your-org/cortex-dc-security

# ==============================================
# FRONTEND APPLICATION
# ==============================================
/apps/web/ @your-org/cortex-dc-frontend

# Next.js config and routing
/apps/web/next.config.js @your-org/cortex-dc-frontend @your-org/cortex-dc-platform
/apps/web/app/ @your-org/cortex-dc-frontend
/apps/web/app/(auth)/ @your-org/cortex-dc-frontend @your-org/cortex-dc-security
/apps/web/app/api/ @your-org/cortex-dc-backend @your-org/cortex-dc-frontend

# Styles and UI
/apps/web/app/globals.css @your-org/cortex-dc-frontend
/apps/web/tailwind.config.js @your-org/cortex-dc-frontend

# ==============================================
# SHARED PACKAGES
# ==============================================
/packages/ @your-org/cortex-dc-maintainers

# UI Components
/packages/ui/ @your-org/cortex-dc-frontend
/packages/ui/src/components/primitives/ @your-org/cortex-dc-frontend

# Database Layer
/packages/db/ @your-org/cortex-dc-backend
/packages/db/src/adapters/ @your-org/cortex-dc-backend @your-org/cortex-dc-platform
/packages/db/src/services/ @your-org/cortex-dc-backend
/packages/db/src/types/ @your-org/cortex-dc-backend

# AI Services
/packages/ai/ @your-org/cortex-dc-ai @your-org/cortex-dc-backend

# Commands
/packages/commands/ @your-org/cortex-dc-backend

# Content Management
/packages/content/ @your-org/cortex-dc-content @your-org/cortex-dc-backend

# Integrations
/packages/integrations/ @your-org/cortex-dc-integrations @your-org/cortex-dc-backend

# Terminal
/packages/terminal/ @your-org/cortex-dc-terminal @your-org/cortex-dc-frontend

# Utilities
/packages/utils/ @your-org/cortex-dc-maintainers

# Admin Tools
/packages/admin-tools/ @your-org/cortex-dc-platform

# Test Utilities
/packages/test-utils/ @your-org/cortex-dc-qa

# ==============================================
# FIREBASE FUNCTIONS
# ==============================================
/functions/ @your-org/cortex-dc-backend @your-org/cortex-dc-platform
/functions/src/genkit/ @your-org/cortex-dc-ai @your-org/cortex-dc-backend

# ==============================================
# FIREBASE DATA CONNECT
# ==============================================
/dataconnect/ @your-org/cortex-dc-backend

# ==============================================
# DATABASE SCHEMAS
# ==============================================
/prisma/ @your-org/cortex-dc-backend @your-org/cortex-dc-platform

# ==============================================
# TESTING
# ==============================================
/tests/ @your-org/cortex-dc-qa
/test-scripts/ @your-org/cortex-dc-qa
*.spec.ts @your-org/cortex-dc-qa
*.test.ts @your-org/cortex-dc-qa
/playwright.config.ts @your-org/cortex-dc-qa
/vitest.config.ts @your-org/cortex-dc-qa

# E2E Tests
/tests/e2e/ @your-org/cortex-dc-qa @your-org/cortex-dc-frontend

# ==============================================
# MONITORING & OBSERVABILITY
# ==============================================
/monitoring/ @your-org/cortex-dc-platform @your-org/cortex-dc-devops
/monitoring/alerts.yaml @your-org/cortex-dc-devops
/monitoring/*dashboard* @your-org/cortex-dc-devops

# ==============================================
# DEPENDENCIES
# ==============================================
# Require platform team approval for major dependency changes
/package.json @your-org/cortex-dc-platform @your-org/cortex-dc-maintainers
/pnpm-lock.yaml @your-org/cortex-dc-platform
/apps/web/package.json @your-org/cortex-dc-frontend @your-org/cortex-dc-platform
/packages/*/package.json @your-org/cortex-dc-platform

# ==============================================
# NOTES
# ==============================================
# To add yourself to a team, contact @your-org/cortex-dc-maintainers
# Teams can be managed at: https://github.com/orgs/your-org/teams
